".source.js, .source.jsx, .source.ts, .source.js-semantic":
  "describe":
    "prefix": "bootstrapper"
    "description": "Aurelia explicit standard configuration export function snippet"
    "body": """
    import {LogManager} from 'aurelia-framework';
    import {ConsoleAppender} from 'aurelia-logging-console';
    \nLogManager.addAppender(new ConsoleAppender());
    LogManager.setLevel(LogManager.logLevel.debug);
    \nexport function configure(aurelia) {
    \taurelia.use
    \t\t.defaultBindingLanguage()
    \t\t.defaultResources()
    \t\t.history()
    \t\t.router()
    \t\t.eventAggregator();
    \taurelia.start().then(()=>aurelia.setRoot('${0:app}',${1:document.body}));
    }
    """